{% if form is defined %}
{% form_theme form 'EsolvingEschoolCoreBundle:Form:fields.html.twig' %}
{% endif %}
{% import 'EsolvingEschoolCoreBundle:Html:html.html.twig' as html %}
{% trans_default_domain 'EsolvingEschoolPageBundle' %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %} {% trans %} welcome {% endtrans%}{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}
        {% stylesheets filter='cssrewrite'
                'bundles/esolvingeschoolcore/css/reinstated/style_site.css'
                'bundles/esolvingeschoolcore/js/jquery/jquery-ui/jquery-ui-1.10.1.custom/css/custom-theme/jquery-ui-1.10.1.custom.css'
            %}
        <link href="{{ asset_url }}" rel="stylesheet"  type="text/css" media="screen" />
            {% endstylesheets %}
        {% endblock stylesheets %}
        {#<link href="{{ asset('bundles/esolvingeschoolcore/css/style.css')}}" rel="stylesheet" type=text/css>
        <link href="{{ asset('bundles/esolvingeschoolcore/css/reinstated/style_site.css')}}" rel="stylesheet" type=text/css>
        <link href="{{ asset('bundles/esolvingeschoolcore/js/jquery/jquery-ui/jquery-ui-1.8.20.custom/css/custom-theme/jquery-ui-1.8.20.custom.css')}}" rel="stylesheet" type=text/css>#}
    </head>
    <body>
        <noscript>
        <meta http-equiv="Refresh" content="0; url='{{ path('esolving_eschool_coreB_javascript_disabled') }}'"/>
        </noscript>      
        <div id="wrapper">
            <div id="header">
                <div id="logo">
                    {#<a href="javascript:void(0)"><img src="{{ asset('bundles/esolvingeschoolcore/images/e-solving_big.png') }}"/></a>#}   
                        <span class="enterprise">{{ global.enterprise }}</span>
                    </div>
                    <div id="language">
                        <form action="{{ path('esolving_pageB_set_locale',{'route':app.request.get('_route')})}}" name='formSetLocale' method="GET">
                            <ul>
                                <li>{% trans %} language {% endtrans%}: {{ esolving_eschool_core.ddlbLanguage() | raw }}
                                    {% for key, param in app.request.get('_route_params') %}
                                        <input type="hidden" name="{{ key }}" value="{{ param }}">
                                    {% endfor %}
                                </li>
                            </ul>
                        </form>
                    </div>
                    <div id="system">
                        <h2>{{ global.esolving.project.eschool }}</h2>
                    </div>
                </div>
                <div id="menu">
                {% block menu %}
                        <div id="cssmenu">
                    {% include 'EsolvingPageBundle:Menu:menu.html.twig' %}
                                </div>
                {% endblock %}
                    </div>
                    <div id="page">
                            {% block content %}
                            <div id="content">
                            </div>
                            {% endblock %}
                            {% block sidebar %}
                            <div id="sidebar">
                                <div class="box">
                                    <h3>Morbi pharetra</h3>
                                    <ul class="list">
                                        <li class="first"><a href="#">Pharetra massa convallis</a></li>
                                        <li><a href="#">Cras nulla ridiculus</a></li>
                                        <li><a href="#">Feugiat arcu tempus congue</a></li>
                                        <li><a href="#">Libero felis magna dolor</a></li>
                                        <li><a href="#">Pulvinar ut facilisis duis</a></li>
                                        <li><a href="#">Cras nulla ridiculus</a></li>
                                        <li><a href="#">Feugiat arcu volutpat congue</a></li>
                                        <li><a href="#">Libero felis dolor</a></li>
                                        <li class="last"><a href="#">Venenatis et vel duis</a></li>
                                    </ul>
                                </div>
                                <div class="box">
                                    <h3>Magna luctus</h3>
                                    <p>
                                        Ultrices odio amet diam sollicitudin primis penatibus. Ullamcorper nulla elementum aliquam dui a nisl montes.
                                    </p>
                                </div>
                            </div>
                            {% endblock sidebar %}
                            <br class="clearfix" />
                        </div>
                    </div>
                    <div id="footer">
                        &copy; 2012 {% if 2012 != date()|date('Y')%} - {{ date() | date('Y')}}{%endif%}  {%trans%}designed{%endtrans%} {%trans%}and{%endtrans%} {%trans%}developed_by{%endtrans%} <a href="#">{{ global.enterprise}}</a>
                    </div>
    {% block javascripts %}
                        {#<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>#}
        {% javascripts filter=''
            'bundles/esolvingeschoolcore/js/jquery/jquery-1.9.1.min.js'
            'bundles/esolvingeschoolcore/js/jquery/jquery-ui/jquery-ui-1.10.1.custom/js/jquery-ui-1.10.1.custom.min.js'
            'bundles/esolvingeschoolcore/js/init_site.js'
            'bundles/esolvingeschoolcore/js/jquery/jquery-ui/jquery.ui.datepicker-es.js'
            'bundles/esolvingeschoolcore/css/reinstated/jquery.dropotron-1.0.js'
            'bundles/esolvingeschoolcore/css/reinstated/init.js' 
        %}
                    <script src="{{ asset_url }}" type="text/javascript"></script>
        {% endjavascripts %}
                    <script type=text/javascript>
                        $(function() {
                            /*$("#menu #cssmenu > ul > li > a").on("click", function() {
                                $("#menu li").removeClass('current');
                                $(this).parents("li:first").addClass('current');
                                $.ajax({
                                    url: $(this).attr("href"),
                                    success: function(data) {
                                        $("#content:first").html(data);
                                    }
                                });
                                window.history.pushState('data', "title", $(this).attr('href'));
                                return false;
                            });
                            */
                            $("select[name='ddlbLanguage']").on("change", function() {
                                //window.onbeforeunload = function exitAlert()
                                 //{
                                 //return true;
                                 //}
                                //confirmar = confirm("{% trans from "EsolvingEschoolUserBundle" %}are_you_sure_to_change{% endtrans %}");
                                //if (confirmar)
                                    $("form[name='formSetLocale']").submit();
                                //else
                                //    return false;
                            });
                            /*$("input[name='okLanguage']").on("click", function() {
                                confirmar = confirm("{% trans from "EsolvingEschoolUserBundle" %}are_you_sure_to_change{% endtrans %}");
                                if (confirmar)
                                    $("form[name='formSectionHeadquarter']").submit();
                                else
                                    return false;
                            });*/
                        });
                        </script>
        {#<script src='{{ asset('bundles/esolvingeschoolcore/js/jquery/jquery-1.7.2.min.js') }}'></script>
        <script src='{{ asset('bundles/esolvingeschoolcore/js/jquery/jquery-ui/jquery-ui-1.8.20.custom/js/jquery-ui-1.8.20.custom.min.js') }}'></script>
        <script src='{{ asset('bundles/esolvingeschoolcore/css/reinstated/jquery.dropotron-1.0.js') }}'></script>
        <script src='{{ asset('bundles/esolvingeschoolcore/css/reinstated/init.js') }}'></script>#}
    {% endblock javascripts%}
                    </body>
                </html>